html, body, #root {
  height: 100%;
  margin: 0;
}

.page {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative; /* REQUIRED */
  overflow: hidden;
}

.page::before {
  content: "";
  position: absolute;
  inset: 0;

  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;

  filter: blur(3px);
  transform: scale(1.1);
  z-index: 0;
}

.box {
  width: 300px;
  height: auto;

  display: flex;
  flex-direction: column;
  gap: 30px;

  padding: 20px;
  border: 3px solid black;
  border-radius: 20px;
  background: rgba(214, 209, 190, 0.5);
  position: relative;

  z-index: 1;
}


.tile {
  height: 60px;

  position: relative;
  border: 2px solid black;
  background-size: cover;
  background-position: center;
  cursor: pointer;

  filter: blur(0.5px);
  transition: filter 0.3s, transform 0.3s;
  border-radius: 14px;
}


.tile:hover {
  filter: blur(0);
  transform: scale(1.02);
}

.tile span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1rem;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.3);
  padding: 10px 20px;
  border-radius: 8px;
}
